{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true"
    , "BlobConnectionString": ""
    , "CosmosDBConnectionString": ""
    , "EventGridConnectionUri": ""
    , "EventGridConnectionKey": ""
    , "EventHubsConnectionString": ""
    , "EventHubName": ""
    , "QueueStorageConnectionString": ""
    , "KafkaConnectionString": ""
    , "RabbitMQConnectionString": ""
    , "ServiceBusQueueConnectionString": ""
    , "ServiceBusTopicConnectionString": ""
    , "BootstrapServer": ""
    , "ConfluentCloudUsername": ""
    , "ConfluentCloudPassword": ""
  }
}