{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true"
    , "BlobConnectionString": ""
    , "CosmosDBConnectionString": ""
    , "EventGridConnectionUri": ""
    , "EventGridConnectionKey": ""
    , "EventHubConnectionString": ""
    , "EventHubName": ""
    , "QueueStorageConnectionString": ""
    , "KafkaConnectionString": ""
    , "RabbitMQConnectionString": ""
    , "ServiceBusQueueConnectionString": ""
    , "ServiceBusTopicConnectionString": ""
    , "SendGridConnectionString": ""
    , "SignalRConnectionString": ""
  }
}